// Place all the styles related to the Admin::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.view-content {
  background-color: #fff !important;
}
.view-content table {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
#check-admin {
  width: 20px !important;
}
