/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  background-color: #dae0e6;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #5b9dfe;
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
#view-title {
  text-align: center;
  margin-bottom: 24px;
  font-weight: bold;
}
#view-title h2 {
  font-size: 2.8rem;
}

.contribute-frame {
  background-color: #fff;
  padding: 12px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

// ヘッダー
#header {
  padding: 10px 20px;
  background-color: #fff;
}
#navbar-brand {
  text-align: left;
}
#logo {
  margin: 12px 0 0 6%;
}
.nav-link {
  font-size: 1.4rem;
  margin-left: 6px;
}
#boarder {
  width: 100%;
  height: 27px;
  border-top: 1px solid #edeff1;
}

// フォーム
.field {
  text-align: center;
}
.field label {
  font-size: 1.8rem;
}
.field input,
#text-area {
  width: 36%;
  margin-bottom: 24px;
}
.field #check-box {
  width: 20px;
}
.view-content {
  margin-top: 36px;
  padding: 48px 0;
  background-color: rgb(246, 246, 246);
  opacity: 0.8;
}
