// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boards-list {
  margin-bottom: 50px;
}
#title {
  font-size: 3.2rem;
}
#caption {
  font-size: 1.8rem;
}
#created_at {
  text-align: right;
}
