// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 掲示板リスト
.boards-list {
  margin-bottom: 50px;
  padding: 45px 70px;
}
.boards-list:nth-child(odd) {
  background-color: #fff;
}
.boards-list:nth-child(even) {
  background-color: rgb(246, 246, 246);
}
.line-up {
  display: inline-block;
}
#board-image {
  margin-right: 12px;
}
#board-title {
  font-size: 3.2rem;
  font-weight: bold;
}
#board-caption {
  font-size: 1.8rem;
}
#board-created_at {
  text-align: right;
}
#board-created_at #board-name {
  color: #0c860c;
}

// スレッドを立てる
.board-content .field input,
.board-content .field #text-area {
  width: 70%;
  height: 36px;
}
.board-content .field #text-area {
  height: 120px;
}

// スレッド詳細画面
.config-bgc {
  background-color: #f2f3f7;
  padding: 12px 24px;
}
.board-detail {
  background-color: #efefef;
  padding: 12px 24px;
}
.board-detail #board-created_at {
  float: left;
}
#board-id {
  font-weight: bold;
}
.larger-fsz {
  font-size: 1.4rem;
}
